/* ==== TIPOGRAFÍA DE TITULOS ==== */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centro h1 {
  font-family: 'Rock Salt', sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
}

.centro h2 {
  font-size: 2rem;
  margin-top: 10px;
}

.centro h3 {
  font-size: 1.5rem;
  margin-top: 5px;
  font-weight: lighter;
  font-style: italic;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.6;
}

.portada {
  margin-top: 20px;
  max-width: 300px;
  width: 80%;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .centro h1 {
      font-size: 2.5rem;
  }

  .centro h2 {
      font-size: 1.5rem;
  }

  .centro h3 {
      font-size: 1.2rem;
  }

  .portada {
      width: 70%;
      max-width: 250px;
  }
}