/* src/styles/Home.css */
.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.portada {
    margin-top: 20px;
    max-width: 900px;
    width: 100%;
    height: auto;
}
  